.action-metrics {
  .p-panel-content {
    padding: 0;
    border: none;
  }
  .p-tabview .p-tabview-panels {
    padding: 1rem 0 0 0;
  }
  .p-tabview-nav-link:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .p-tabview-nav-link:hover {
    text-decoration: none;
  }
  .col-6 .metric-column {
    text-align: right !important;
    width: 20%;
  }
  .col-12 .metric-column {
    text-align: right !important;
    width: 15%;
  }
}
