.upload-page {
  .metadata-panel {
    .p-panel-header {
      display: block;
    }
    .p-inputtext:disabled {
      background: #eeeeee !important;
    }
  }
  .p-fileupload-empty {
    padding: 1.5rem 1rem;
  }
  .p-fileupload-content {
    padding: 0 !important;
    .p-fileupload-row {
      div:first-child {
        display: none;
      }
      div.p-fileupload-filename {
        padding-left: 2rem !important;
      }
      div:last-child {
        width: 0;
        padding-right: 1.25rem !important;
      }
    }
  }
  .deltafiles {
    .did-column {
      width: 27%;
    }
    .filename-column {
      width: 35%;
      overflow-wrap: anywhere;
    }
    .flow-column {
      width: 15%;
    }
    .updated-timestamp-column {
      width: 15%;
    }
    .metadata-column {
      width: 12%;
      .content-button {
        cursor: pointer !important;
        padding: 0.1rem 0.4rem;
        margin: 0;
        color: #333333;
      }
      .content-button:hover {
        color: #666666 !important;
        .p-button-label {
          text-decoration: none !important;
        }
      }
      .content-button:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
}

#viewMetadata,
#replayMetadata {
  display: inline-block;
  /* additional code */
}
