.deltafile-viewer {
  tr.action-error {
    cursor: pointer !important;
  }
  .content-column {
    width: 1%;
    padding: 0 0.5rem !important;
    .content-button {
      cursor: pointer !important;
      padding: 0.1rem 0.4rem;
      margin: 0;
      color: #333333;
    }
    .content-button:hover {
      color: #666666 !important;
      .p-button-label {
        text-decoration: none !important;
      }
    }
    .content-button:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .state-column,
  .elapsed-column {
    width: 8rem;
  }
  .timestamp-column {
    width: 16rem;
  }
  .row {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    .links-panel {
      .p-panel-content {
        padding: 0;
        strong {
          font-weight: 600;
        }
        .list-group-flush {
          border-radius: 4px;
        }
      }
    }
  }
  .button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .no-data-panel-content {
    padding: 0.50rem 1.25rem;
  }
  
}
