.search-page {
  .time-range .form-control:disabled,
  .time-range .form-control[readonly] {
    background-color: #ffffff;
  }

  .icon-index {
    z-index: 1;
  }

  td.filename-column {
    overflow-wrap: anywhere;
  }

  .results {
    .p-panel-header {
      padding: 0 1.25rem;
      .p-panel-title {
        padding: 1rem 0;
      }
      .p-panel-header-icon {
        margin-top: 0.25rem;
        margin-right: 0;
      }
    }
    .p-panel-content {
      padding: 0;
      border: none;
      td.filename-column {
        overflow-wrap: anywhere;
      }
    }
  }

  .p-paginator {
    border: none !important;
    padding: 0 !important;
    font-size: inherit !important;
    .p-paginator-current {
      background: unset;
      color: unset;
      border: unset;
    }
  }
}
