.property-set {
  .p-panel-content {
    padding: 0;
  }
  .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    input {
      width: 100%;
    }
  }
  i.text-muted {
    color: rgb(165, 165, 165) !important;
  }
}
