.system-metrics {
  .p-progressbar {
    background: #dadada;
    .p-progressbar-label {
      font-weight: inherit;
    }
  }

  .p-progressbar .p-progressbar-value {
    background: #60a0ff;
  }

  .resource-column {
    width: 20%;
  }

  .pods-column {
    width: 1%;
  }
}
