x-relaxed-health-probe: &relaxed-health-probe
  healthcheck:
    test: /probe.sh
    interval: 15s
    timeout: 3s
    start_period: 30s
    retries: 5
    start_interval: 1s

x-logging-label: &logging-label
  logging: "promtail"
  logging_jobname: "containerlogs"

networks:
  deltafi:
    external: true

services:
  core-scheduler:
    image: ${DELTAFI_CORE}
    container_name: deltafi-core-scheduler
    depends_on:
      deltafi-valkey:
        condition: service_healthy
      deltafi-postgres:
        condition: service_healthy
    expose:
      - "8080"
    group_add:
      - ${DOCKER_GID}
    user: "${USER_ID}:${GROUP_ID}"
    environment:
      JDK_JAVA_OPTIONS: "-Dcom.redhat.fips=false -Dschedule.diskSpace=false -Dlookup.enabled=${LOOKUP_TABLES_ENABLED}"
      SPRING_PROFILES_ACTIVE: monitor
      APP_ID: core-scheduler
      UNIQUE_ID: core-scheduler
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
      - ${SECRETS_DIR}/postgres.env
      - ${SECRETS_DIR}/minio.env
      - path: ${DATA_DIR}/certs/${DELTAFI_SECRET_CORE_SSL:-ssl-secret}/.env
        required: false
    <<: *relaxed-health-probe
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      deltafi:
        aliases:
          - "deltafi-core"
          - "deltafi-core-scheduler"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_DIR}/certs:/certs:rw
  core-worker:
    image: ${DELTAFI_CORE}
    profiles: ["worker"]
    deploy:
      replicas: 1
    depends_on:
      deltafi-valkey:
        condition: service_healthy
      deltafi-postgres:
        condition: service_healthy
    group_add:
      - ${DOCKER_GID}
    user: "${USER_ID}:${GROUP_ID}"
    expose:
      - "8080"
    environment:
      JDK_JAVA_OPTIONS: "-Dcom.redhat.fips=false -Dschedule.maintenance=false -Dschedule.diskSpace=false -Dlookup.enabled=${LOOKUP_TABLES_ENABLED}"
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
      - ${SECRETS_DIR}/postgres.env
      - ${SECRETS_DIR}/minio.env
      - path: ${DATA_DIR}/certs/${DELTAFI_SECRET_CORE_SSL:-ssl-secret}/.env
        required: false
    <<: *relaxed-health-probe
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      deltafi:
        aliases:
          - "deltafi-core"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_DIR}/certs:/certs:rw
  deltafi-entity-resolver:
    image: ${DELTAFI_ENTITY_RESOLVER}
    container_name: deltafi-entity-resolver
    env_file:
      - path: ${DATA_DIR}/certs/${DELTAFI_SECRET_ENTITY_RESOLVER_SSL:-ssl-secret}/.env
        required: false
    user: "${USER_ID}:${GROUP_ID}"
    expose:
      - "${ENTITY_RESOLVER_PORT}"
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      - deltafi
    restart: unless-stopped
    profiles: ["entity-resolver"]
    volumes:
      - ${DATA_DIR}/entityResolver:/config
      - ${DATA_DIR}/certs/${DELTAFI_SECRET_ENTITY_RESOLVER_SSL:-ssl-secret}:/certs
  core-actions:
    image: ${DELTAFI_CORE_ACTIONS}
    # container_name: deltafi-core-actions
    depends_on:
      core-scheduler:
        condition: service_healthy
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
      - ${SECRETS_DIR}/minio.env
      - path: ${DATA_DIR}/certs/${DELTAFI_SECRET_PLUGINS_SSL:-ssl-secret}/.env
        required: false
    healthcheck:
      test: cat /tmp/running
      interval: 30s
      timeout: 1s
      retries: 4
      start_period: 10s
      start_interval: 1s
    labels:
      app: deltafi-core-actions
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      - deltafi
    restart: unless-stopped
    user: "${USER_ID}:${GROUP_ID}"
    volumes:
      - ${DATA_DIR}/certs/${DELTAFI_SECRET_PLUGINS_SSL:-ssl-secret}:/certs
  deltafi-nodemonitor:
    image: ${DELTAFI_NODEMONITOR}
    container_name: deltafi-nodemonitor
    depends_on:
      deltafi-victoriametrics:
        condition: service_healthy
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
    group_add:
      - ${DOCKER_GID}
    user: "${USER_ID}:${GROUP_ID}"
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}:/data/deltafi
      - /var/run/docker.sock:/var/run/docker.sock
  deltafi-node-fastdelete:
    image: ${DELTAFI_NODEMONITOR}
    container_name: deltafi-node-fastdelete
    command: ["/bin/bash", "-c", "/app/deleteit.sh"]
    depends_on:
      deltafi-victoriametrics:
        condition: service_healthy
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/postgres.env
    group_add:
      - ${DOCKER_GID}
    user: "${USER_ID}:${GROUP_ID}"
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    profiles: ["localStorage"]
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}:/data/deltafi
  dirwatcher:
    image: ${DELTAFI_DIRWATCHER}
    container_name: deltafi-dirwatcher
    depends_on:
      core-scheduler:
        condition: service_healthy
    environment:
      DIRWATCHER_WATCH_DIR: /watched-dir
      DIRWATCHER_WORKERS: 20
      DIRWATCHER_RETRY_PERIOD: 300
      DIRWATCHER_MAX_FILE_SIZE: 2147483648
      DELTAFI_URL: http://deltafi-core-scheduler:8080
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${CONFIG_DIR}/dirwatcher.env
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      deltafi:
        aliases:
          - "deltafi-dirwatcher-service"
          - "dirwatcher"
    profiles: ["dirwatcher"]
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/dirwatcher:/watched-dir
    user: "${USER_ID}:${GROUP_ID}"
  deltafi-egress-sink:
    image: ${DELTAFI_EGRESS_SINK}
    container_name: deltafi-egress-sink-service
    depends_on:
      core-scheduler:
        condition: service_healthy
    env_file:
      - ${CONFIG_DIR}/common.env
    expose:
      - "80"
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      deltafi:
        aliases:
          - "deltafi-egress-sink-service"
    profiles: ["egress-sink"]
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/egress-sink:/data/deltafi/egress-sink
    user: "${USER_ID}:${GROUP_ID}"
  deltafi-minio:
    image: ${MINIO}
    command: server /export -S /etc/minio/certs/ --address :9000 --console-address :9001
    container_name: deltafi-minio
    expose:
      - "9000"
    ports:
      - "9001:9001"
    environment:
      MINIO_PROMETHEUS_AUTH_TYPE: public
      MINIO_API_DELETE_CLEANUP_INTERVAL: 1s
    env_file:
      - ${SECRETS_DIR}/minio.env
    labels:
      deltafi-group: deltafi-dependency
      name: deltafi-minio
    networks:
      - deltafi
    profiles: ["localStorage"]
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/minio:/export
    user: "${USER_ID}:${GROUP_ID}"
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 10s
      start_interval: 1s

  deltafi-postgres:
    image: ${POSTGRES}
    container_name: deltafi-postgres
    command: [ "-c", "max_connections=1000" ]
    env_file:
      - ${SECRETS_DIR}/postgres.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 30s
      start_interval: 1s
    labels:
      deltafi-group: deltafi-dependency
    networks:
      - deltafi
    expose:
      - "8001"
      - "5432"
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/data/
    user: "${USER_ID}:${GROUP_ID}"

  deltafi-postgres-lookup:
    profiles: ["lookup-tables"]
    image: ${POSTGRES}
    container_name: deltafi-postgres-lookup
    command: [ "-c", "max_connections=1000" ]
    env_file:
      - ${SECRETS_DIR}/postgres.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 15s
      retries: 40
    labels:
      deltafi-group: deltafi-dependency
    networks:
      - deltafi
    expose:
      - "5432"
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/postgres-lookup:/var/lib/postgresql/data/
    user: "${USER_ID}:${GROUP_ID}"

  deltafi-valkey:
    image: ${VALKEY}
    container_name: deltafi-valkey
    environment:
      VALKEY_REPLICATION_MODE: primary
    env_file:
      - ${SECRETS_DIR}/valkey.env
    healthcheck:
      test: [ "CMD", "valkey-cli", "--raw", "ping" ]
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 5s
      start_interval: 1s
    labels:
      deltafi-group: deltafi-dependency
    networks:
      - deltafi
    expose:
      - "6379"
    restart: unless-stopped
    volumes:
      - ${SETTINGS_DIR}/valkey/:/usr/local/etc/valkey/:ro
    command:
      - sh
      - -c
      - |
        if [ -n "$${VALKEY_PASSWORD}" ]; then
        valkey-server --include /usr/local/etc/valkey/overrides.conf --requirepass "$${VALKEY_PASSWORD}"
        else
        valkey-server --include /usr/local/etc/valkey/overrides.conf
        fi

  deltafi-grafana:
    image: ${GRAFANA}
    container_name: deltafi-grafana
    environment:
      GF_PATHS_DATA: /var/lib/grafana/
      GF_PATHS_LOGS: /var/log/grafana
      GF_PATHS_PLUGINS: /var/lib/grafana-plugins
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    env_file:
      - ${SECRETS_DIR}/grafana.env
      - ${SECRETS_DIR}/postgres.env
    expose:
      - "3000"
    labels:
      deltafi-group: deltafi-dependency
    networks:
      deltafi:
        aliases:
          - "visualization"
          - "grafana"
    volumes:
      - ${DATA_DIR}/grafana:/var/lib/grafana
      - ${SETTINGS_DIR}/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ${SETTINGS_DIR}/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ${SETTINGS_DIR}/grafana/provider.yaml:/etc/grafana/provisioning/dashboards/provider.yaml
      - ${SETTINGS_DIR}/grafana/dashboards:/tmp/dashboards
    restart: unless-stopped
    user: "${USER_ID}:${GROUP_ID}"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 30s
  deltafi-docker-ui:
    image: ${DOCKER_WEB_GUI}
    container_name: deltafi-docker-ui
    expose:
      - "3230"
    environment:
      PUBLIC_URL: /orchestration
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      deltafi-group: deltafi-dependency
    networks:
      deltafi:
        aliases:
          - "orchestration"
    restart: unless-stopped
  deltafi-victoriametrics:
    image: victoriametrics/victoria-metrics:v1.129.1
    container_name: deltafi-victoriametrics
    command:
      - "-storageDataPath=/victoria-metrics-data"
      - "-httpListenAddr=:8428"
      - "-graphiteListenAddr=:2003"
      - "-retentionPeriod=720d"
      - "-search.graphiteStorageStep=10s"
    expose:
      - "2003"
      - "8428"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:8428/health || exit 1" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 20s
    labels:
      deltafi-group: deltafi-dependency
    networks:
      deltafi:
        aliases:
          - "deltafi-victoriametrics"
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/victoriametrics:/victoria-metrics-data
    user: "${USER_ID}:${GROUP_ID}"
  deltafi-loki:
    image: ${LOKI}
    container_name: deltafi-loki
    command: -config.file=/etc/loki/loki.yaml
    expose:
      - "3100"
      - "9095"
      - "7946"
    labels:
      deltafi-group: deltafi-dependency
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - ${SETTINGS_DIR}/loki/loki.yaml:/etc/loki/loki.yaml
      - ${DATA_DIR}/loki:/data
    user: "${USER_ID}:${GROUP_ID}"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/loki/api/v1/status/buildinfo || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 40s
  deltafi-promtail:
    image: ${PROMTAIL}
    container_name: deltafi-promtail
    command: -config.file=/etc/promtail/promtail.yaml
    depends_on:
      deltafi-loki:
        condition: service_healthy
    expose:
      - "3101"
    labels:
      deltafi-group: deltafi-dependency
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${SETTINGS_DIR}/promtail/promtail.yaml:/etc/promtail/promtail.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'printf \"GET / HTTP/1.1\n\n\" > /dev/tcp/127.0.0.1/3101; exit $?;'"]
      interval: 20s
      retries: 30
      timeout: 10s
      start_period: 10s
  deltafi-nginx:
    image: ${NGINX}
    container_name: deltafi-nginx
    environment:
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/
    env_file:
      - ${CONFIG_DIR}/nginx.env
    labels:
      deltafi-group: deltafi-dependency
    networks:
      deltafi:
        aliases:
          - "ingress"
    restart: unless-stopped
    volumes:
      - ${SETTINGS_DIR}/nginx/conf:/opt/nginx
      - ${DATA_DIR}/certs/${DELTAFI_SECRET_INGRESS_SSL:-ssl-secret}:/certs
      - ${SETTINGS_DIR}/nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template
      - ${SETTINGS_DIR}/nginx/html:/etc/nginx/html
    ports:
      - "${UI_HTTP_PORT}:80"
      - "${UI_HTTPS_PORT}:443"
      - "127.0.0.1:8042:8042"
    healthcheck:
      test: ["CMD-SHELL", "curl -so /dev/null http://localhost/ || exit 1"]
      interval: 20s
      timeout: 3s
      retries: 3
      start_period: 10s
      start_interval: 1s

  java-devcontainer:
    image: ${DELTAFI_JAVA_DEVCONTAINER}
    container_name: java-devcontainer
    environment:
      APP_NAME: java-devcontainer
      DOCKER_USER: "${USER:-coder}"
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
      - ${SECRETS_DIR}/minio.env
      - ${SECRETS_DIR}/ssl.env
    group_add:
      - ${DOCKER_GID}
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/certs:/certs
      - ${REPOS_DIR}:/app
      - ${CONFIG_DIR}/vscode/.local:/home/coder/.local
      - ${CONFIG_DIR}/vscode/.config:/home/coder/.config
      - ${CONFIG_DIR}/.gradle:/home/coder/.gradle
      - ${CONFIG_DIR}/.m2:/home/coder/.m2
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8888:8080"  # VS Code Server
    working_dir: /app
    command: ["/usr/bin/code-server", "--auth", "none", "--bind-addr", "0.0.0.0:8080", "."]
    tty: true
    stdin_open: true
    user: "${USER_ID}:${GROUP_ID}"
    profiles: ["java-devcontainer"]
  java-ide:
    image: ${DELTAFI_JAVA_IDE}
    container_name: java-ide
    environment:
      APP_NAME: java-ide
      DOCKER_USER: "${USER:-coder}"
    env_file:
      - ${CONFIG_DIR}/common.env
      - ${SECRETS_DIR}/valkey.env
      - ${SECRETS_DIR}/minio.env
      - ${SECRETS_DIR}/ssl.env
    group_add:
      - ${DOCKER_GID}
    labels:
      deltafi-group: deltafi-core
      <<: *logging-label
    networks:
      - deltafi
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/certs:/certs
      - ${REPOS_DIR}:/app
      - ${CONFIG_DIR}/vscode/.local:/home/coder/.local
      - ${CONFIG_DIR}/vscode/.config:/home/coder/.config
      - ${CONFIG_DIR}/.gradle:/home/coder/.gradle
      - ${CONFIG_DIR}/.m2:/home/coder/.m2
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8888:8080"  # VS Code Server
    working_dir: /app
    command: ["/usr/bin/code-server", "--auth", "none", "--bind-addr", "0.0.0.0:8080", "."]
    tty: true
    stdin_open: true
    user: "${USER_ID}:${GROUP_ID}"
    profiles: ["java-ide"]
