.core:
  variables:
    PROJECT_NAME: deltafi-core

"Publish deltafi-core to GitLab :whale:":
  extends:
    - .core
    - .docker

"Publish deltafi-core to docker.io :whale:":
  extends:
    - .core
    - .docker-multiarch
