deltafi:
  java_ide:
    image: {{.JavaIDEContainer}}
    enabled: false
  java_devcontainer:
    image: {{.JavaDevContainer}}
    enabled: false
  core_actions:
    replicas: 1
    image: {{.Repo}}/deltafi-core-actions:{{.Tag}}
  core:
    image: {{.Repo}}/deltafi-core:{{.Tag}}
    envVar:
      HTTP_MAX_BODY_SIZE: 5G
    ssl:
      secret: ssl-secret
  core_worker:
    enabled: false
    replicas: 1
  auth:
    mode: disabled # basic, cert, or disabled
    secret: auth-secret
    entityResolver:
      enabled: false
      image: {{.Repo}}/deltafi-entity-resolver:{{.Tag}}
      port: 8080
      config:
        README: |-
          Add files to the site/values.yaml at deltafi.auth.config to inject files here
      ssl:
        secret: ssl-secret
  api:
    image: {{.Repo}}/deltafi-api:{{.Tag}}
    workers: 8
  dirwatcher:
    enabled: true
    image: {{.Repo}}/deltafi-dirwatcher:{{.Tag}}
  egress_sink:
    enabled: true
    drop_metadata: false
    image: {{.Repo}}/deltafi-egress-sink:{{.Tag}}
  nodemonitor:
    image: {{.Repo}}/deltafi-nodemonitor:{{.Tag}}
  plugins:
    ssl:
      secret: ssl-secret
  lookup:
    enabled: false

# nginx domain
ingress:
  domain: local.deltafi.org
  tls:
    enabled: false
    secrets:
      default: ssl-secret
  ui:
    http_port: 80
    https_port: 443
dependencies:
  grafana: {{.GrafanaContainer}}
  victoriametrics: {{.VictoriaMetricsContainer}}
  loki: {{.LokiContainer}}
  minio: {{.MinioContainer}}
  nginx: {{.NginxContainer}}
  promtail: {{.PromtailContainer}}
  valkey: {{.ValkeyContainer}}
  docker_web_gui: {{.DockerWebGuiContainer}}
  postgres: {{.PostgresContainer}}
  postgres_lookup: {{.PostgresLookupContainer}}
