# Site values file
# To restore to defaults, remove this file and run 'deltafi up'
---
enable:
  local_object_storage: true

deltafi:
  core:
    ssl:
      secret: ssl-secret
  core_worker:
    enabled: true
    replicas: 0
  core_actions:
    replicas: 1
  auth:
    mode: disabled # basic, cert, or disabled
    secret: auth-secret
    entityResolver:
      config:
        README: |-
          Add files to the site/values.yaml at deltafi.auth.config to inject files here
      ssl:
        secret: ssl-secret
  api:
    workers: 8
  dirwatcher:
    enabled: true
    workers: 20             # Number of worker threads to process files
    maxFileSize: 4294967296 # 4GB default
    retryPeriod: 300        # Seconds to wait before retrying a failed file post
    settlingTime: 1000      # Milliseconds to wait for file to stabilize before posting
  egress_sink:
    drop_metadata: false
    enabled: true
  plugins:
    ssl:
      secret: ssl-secret
  storage:
    bucketName: storage
  logs:
    enabled: true
    logrotate:
      interval: daily
      schedule:
        max_size: 50M
        keep: 30
      audit_schedule:
        max_size: 100M
        keep: 365
ingress:
  domain: local.deltafi.org
  tls:
    enabled: false
    secrets:
      default: ssl-secret
  ui:
    http_port: 80
    https_port: 443
