.core-actions:
  variables:
    PROJECT_NAME: deltafi-core-actions

"Publish deltafi-core-actions to GitLab :whale:":
  extends:
    - .core-actions
    - .docker

"Publish deltafi-core-actions to docker.io :whale:":
  extends:
    - .core-actions
    - .docker-multiarch
