apiVersion: 1
datasources:
  - access: proxy
    editable: false
    isDefault: true
    name: VictoriaMetrics
    type: graphite
    uid: deltafi-victoriametrics
    url: http://deltafi-victoriametrics:8428/graphite
    version: 2
  - access: proxy
    editable: false
    isDefault: false
    name: Loki
    type: loki
    uid: deltafi-loki
    url: http://deltafi-loki:3100
    version: 2
  - name: Postgres
    uid: deltafi-postgres
    type: postgres
    url: deltafi-postgres:5432
    user: $POSTGRES_USER
    secureJsonData:
      password: $POSTGRES_PASSWORD
    jsonData:
      database: $POSTGRES_DB
      postgresVersion: 1500
      timescaledb: true
      sslmode: disable
  - name: Analytics
    uid: deltafi-analytics
    type: yesoreyeram-infinity-datasource
    access: proxy
    editable: false
    url: http://deltafi-analytics:8080
    jsonData:
      oauthPassThru: false
