#
#    DeltaFi - Data transformation and enrichment platform
#
#    Copyright 2021-2025 DeltaFi Contributors <deltafi@deltafi.org>
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

from deltafi.action import TimedIngressAction
from deltafi.domain import Context
from deltafi.result import IngressResult, IngressResultItem
from pydantic import BaseModel


class {{.ClassName}}Parameters(BaseModel):
    pass


class {{.ClassName}}(TimedIngressAction):
    def __init__(self):
        super().__init__('TODO: Add action description')

    def param_class(self):
        return {{.ClassName}}Parameters

    def ingress(self, context: Context, params: {{.ClassName}}Parameters):
        context.logger.info("TODO: Implement action logic")

        # Create a basic ingress result
        result_item = IngressResultItem(context, "{{.ActionName}}-output")
        result_item.save_string_content("TODO: Implement ingress logic", "{{.ActionName}}-output", "text/plain")

        # Add todo annotation
        result_item.annotate("todo", "todo")

        # Add metadata
        result_item.add_metadata("{{.ActionName}}", "todo")

        ingress_result = IngressResult(context)
        ingress_result.add_item(result_item)

        return ingress_result

