charts/.logs
.logs/

# Gradle
output/
.gradle/
build/
buildSrc/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
HELP.md
.jqwik-database

### STS ###
.apt_generated
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

