org.gradle.jvmargs=-Xmx1024M
org.gradle.logging.level=INFO
systemProp.org.gradle.internal.http.socketTimeout=120000
systemProp.org.gradle.internal.http.connectionTimeout=120000

sourceCompatibility=21
deltafiVersion={{.DeltaFiVersion}}
hierynomusLicenseVersion=0.16.1

deltafiPublicMavenRepo=https://gitlab.com/api/v4/projects/44592703/packages/maven
