spring:
  aop:
    auto: false
  application:
    name: deltafi-core
  datasource:
    url: jdbc:postgresql://${DELTAFI_POSTGRES_SERVICE_HOST:deltafi-postgres}:${DELTAFI_POSTGRES_SERVICE_PORT:5432}/${POSTGRES_DB}
    username: ${POSTGRES_USER:deltafi}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 32
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        generate_statistics: false
        default_batch_fetch_size: 500
    show-sql: false
  jmx:
    enabled: false
  main:
    banner-mode: off
  sql:
    init:
      mode: never
  web:
    resources:
      static-locations: ["file:/deltafi/"]
lookup:
  datasource:
    url: jdbc:postgresql://${DELTAFI_POSTGRES_LOOKUP_SERVICE_HOST:deltafi-postgres-lookup}:${DELTAFI_POSTGRES_LOOKUP_SERVICE_PORT:5432}/${POSTGRES_DB}
    username: ${POSTGRES_USER:deltafi}
    password: ${POSTGRES_LOOKUP_PASSWORD}
    hikari:
      maximum-pool-size: 32
dgs:
  graphql:
    path: "/api/v2/graphql"
    graphiql:
      enabled: false
management:
  endpoint:
    health:
      probes:
        enabled: false
    metrics:
      enabled: false
server:
  error:
    include-message: always
  ssl:
    enabled: false
logging:
  level:
    org.hibernate: WARN
    com.zaxxer.hikari: WARN
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type: TRACE
#    org.hibernate.orm.jdbc.bind: TRACE
#    org.hibernate.engine.jdbc.env.spi.SqlStatementLogger: DEBUG
