pre.dark {
  background-color: #333333;
  color: #dddddd;
  padding: 1em;
}

a {
  color: #0057b3;
}

.monospace {
  font-family: monospace, monospace;
  font-size: 95%;
}

.p-tooltip {
  max-width: 300px;

  .p-tooltip-text {
    font-size: 80%;
  }
}
