.sidebar {
  transition: all 0.3s;
}

.sidebar {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  padding: 0;
  margin: 0;
}

.sidebar.hidden {
  margin-left: -300px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding: .25rem 1rem 80px 1rem;
}

@media (max-width: 768px){
  .sidebar {
    -ms-flex: 0 0 150px !important;
    flex: 0 0 150px !important;
  }
  .sidebar.hidden {
    margin-left: -150px !important;
  }
}
