html {
  font-size: 14px;
}

pre.dark {
  background-color: #333333;
  color: #dddddd;
  padding: 1em;
}

a {
  color: #0057b3;
}

.monospace {
  font-family: monospace, monospace;
  font-size: 95%;
}

.p-tooltip {
  max-width: 300px;

  .p-tooltip-text {
    font-size: 80%;
  }
}

.deltafi-input-field {
  min-width: 16em;
  height: 32px;
}

.deltafi-input-field .p-dropdown-label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
