@use 'common';

.p-progressbar {
  background: #dadada;
}

.p-progressbar .p-progressbar-value {
  background: #60a0ff;
}

.resource-column {
  width: 20%;
}

.expander-column,
.pods-column {
  width: 1%;
}