# toggle specific subcharts on (true) or off (false)
enable:
  minio: true
  redis: true
  kubernetes-dashboard: true
  promtail: true
  loki: true
  graphite: true
  grafana: true

# toggle groups of subcharts on (true) or off (false)
tags:
  metrics: true
  logs: true

# DeltaFi config
deltafi:
  local_path_provisioner:
    enabled: false
    path: /data/deltafi/local
  ssl:
    # deprecated - set the deployment specific values instead
    secret: ~
  core_actions:
    image: deltafi/deltafi-core-actions:2.42.0
  core:
    image: deltafi/deltafi-core:2.42.0
    ssl:
      secret: ssl-secret
  ingress:
    envVar:
      HTTP_MAX_BODY_SIZE: 5G
  auth:
    mode: basic # basic, cert, or disabled
    secret: auth-secret
    entityResolver:
      enabled: false
      image: deltafi/deltafi-entity-resolver:2.42.0
      url: http://127.0.0.1:8080/
      ssl:
        secret: ssl-secret
  egress_sink:
    enabled: true
    drop_metadata: false
    image: deltafi/deltafi-egress-sink:2.42.0
  analytics:
    enabled: true
    image: deltafi/deltafi-analytics:2.42.0
    persistence:
      size: 50Gi
  nodemonitor:
    image: deltafi/deltafi-nodemonitor:2.42.0
    period: 9
  fastdelete:
    workersPerNode: 1
  clustermonitor:
    enabled: true
    image: deltafi/deltafi-clustermonitor:2.42.0
    period: 9
  plugins:
    ssl:
      secret: ssl-secret
  storage:
    bucketName: storage
    url: http://deltafi-minio:9000
    # enabled by default, disabled when enable.minio is false unless overridden here
    snowball:
      enabled: ~
  lookup:
    enabled: false

# Kubernetes ingress config
ingress:
  domain: local.deltafi.org
  tls:
    enabled: false
    # ssl_ciphers: "ECDHE-RSA-AES256-GCM-SHA384"
    secrets:
      default: local-deltafi-org
# MinIO config
minio:
  environment:
    # don't let trash files build up
    MINIO_API_DELETE_CLEANUP_INTERVAL: 30s
    # prioritize reads and writes over lifecycle events
    MINIO_SCANNER_SPEED: slow
    MINIO_BROWSER: off
  image:
    repository: deltafi/minio
    tag: RELEASE.2025-10-15T17-29-55Z-2
  mode: standalone
  existingSecret: minio-keys
  resources:
    requests:
      memory: 2Gi
  replicas: 1
  persistence:
    enabled: true
    existingClaim: deltafi-minio
  service:
    type: NodePort
  nodeSelector:
    node-role.deltafi.org/storage: "true"
  metrics:
    serviceMonitor:
      public: true
# Redis config
redis:
  nameOverride: valkey
  fullnameOverride: deltafi-valkey
  image:
    repository: deltafi/valkey
    tag: 9.0.0-1
  architecture: standalone
  auth:
    existingSecret: valkey-password
    enabled: true
  commonConfiguration: |-
    # Diable AOF https://redis.io/topics/persistence#append-only-file
    appendonly no
    # Disable RDB persistence
    save ""
  master:
    persistence:
      enabled: false
    nodeSelector:
      node-role.deltafi.org/compute: "true"
    # Use tcpSocket probes instead of default exec
    customLivenessProbe:
      tcpSocket:
        port: 6379
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    customReadinessProbe:
      tcpSocket:
        port: 6379
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 1
      successThreshold: 1
      failureThreshold: 5
# Kubernetes Dashboard config
kubernetes-dashboard:
  image:
    tag: v2.7.0
  securityContext: null
  metricsScraper:
    enabled: true
    image:
      tag: v1.0.9
  protocolHttp: true
  service:
    externalPort: 80
  settings:
    clusterName: 'DeltaFi'
    itemsPerPage: 50
    labelsLimit: 3
    logsAutoRefreshTimeInterval: 5
    resourceAutoRefreshTimeInterval: 5
    disableAccessDeniedNotifications: false
    defaultNamespace: deltafi
    namespaceFallbackList:
      - default

grafana:
  image:
    repository: deltafi/grafana
    tag: 12.4.0-3
  persistence:
    enabled: true
    existingClaim: deltafi-grafana
  nodeSelector:
    node-role.deltafi.org/storage: "true"
  envValueFrom:
    POSTGRES_PASSWORD:
      secretKeyRef:
        name: deltafi.deltafi-postgres
        key: password
    POSTGRES_USER:
      secretKeyRef:
        name: deltafi.deltafi-postgres
        key: username
  grafana.ini:
    paths:
      data: /var/lib/grafana/
      logs: /var/log/grafana
      plugins: /var/lib/grafana-plugins
      provisioning: /etc/grafana/provisioning
    auth.anonymous:
      enabled: false
    auth.basic:
      enabled: false
    auth.proxy:
      enabled: true
      header_name: X-User-Name
      headers: Role:X-Metrics-Role
      auto_sign_up: true
    analytics:
      reporting_enabled: false
      check_for_updates: false
      check_for_plugin_updates: false
      enable_feedback_links: false
    dashboards:
      min_refresh_interval: "10s"
    log:
      mode: console
    log.console:
      format: json
    unified_alerting:
      enabled: true
    alerting:
      enabled: false
    security:
      allow_embedding: true
    feature_toggles:
      enable: "newVizTooltips pdfTables returnToPrevious groupToNestedTableTransformation extraThemes regressionTransformation addFieldFromCalculationStatFunctions formatString"
    plugins:
      allow_loading_unsigned_plugins: yesoreyeram-infinity-datasource
  sidecar:
    dashboards:
      enabled: true
      provider:
        folder: "DeltaFi"
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: VictoriaMetrics
        type: graphite
        access: proxy
        url: http://deltafi-victoriametrics:8428/graphite
        editable: false
        isDefault: true
        version: 2
        uid: deltafi-victoriametrics
      - name: Loki
        type: loki
        access: proxy
        url: http://deltafi-loki:3100
        editable: false
        isDefault: false
        version: 2
        uid: deltafi-loki
      - name: Postgres
        uid: deltafi-postgres
        type: postgres
        url: deltafi-postgres:5432
        user: $POSTGRES_USER
        secureJsonData:
          password: $POSTGRES_PASSWORD
        jsonData:
          database: deltafi
          postgresVersion: 1500
          timescaledb: true
          sslmode: require
      - name: Analytics
        uid: deltafi-analytics
        type: yesoreyeram-infinity-datasource
        access: proxy
        editable: false
        url: http://deltafi-analytics:8080
        jsonData:
          oauthPassThru: false

promtail:
  image:
    tag: 3.6.2
  persistence:
    enabled: true
    existingClaim: deltafi-promtail
  config:
    clients:
      - url: http://deltafi-loki:3100/loki/api/v1/push
    snippets:
      pipelineStages:
        - cri: {}
        - labeldrop:
            - filename
        # Label action logs
        - match:
            selector: '{ app=~".+" } |~ "\"action\":\"[^\"]+\""'
            stages:
            - json:
                expressions:
                  action: action
            - labels:
                action:
            - static_labels:
                type: 'ACTION'
        # Remove noisy probe logs
        - match:
            selector: '{app="deltafi-ui"}'
            stages:
              - drop:
                  expression: "probe"
        # Label audit logs
        - match:
              selector: '{ app=~".*" } |= "\"loggerName\":\"AUDIT\""'
              stages:
              - json:
                  expressions:
                    user: user
              - labels:
                  user:
              - static_labels:
                  type: "AUDIT"
        # Categorize UI HTTP status codes
        - match:
              selector: '{ app="deltafi-ui" } |= " 200 "'
              stages:
              - static_labels:
                  level: "DEBUG"
        - match:
              selector: '{ app="deltafi-ui" } |= " 304 "'
              stages:
              - static_labels:
                  level: "DEBUG"
        - match:
              selector: '{ app="deltafi-ui" } |= " 404 "'
              stages:
              - static_labels:
                  level: "ERROR"
        - match:
              selector: '{ app="deltafi-ui" } |= " 500 "'
              stages:
              - static_labels:
                  level: "ERROR"
        - match:
              selector: '{ app="deltafi-ui" } |= " 503 "'
              stages:
              - static_labels:
                  level: "ERROR"
        # Categorize API HTTP status codes
        - match:
              selector: '{ app="deltafi-api" } |= " 200 "'
              stages:
              - static_labels:
                  level: "DEBUG"
        - match:
              selector: '{ app="deltafi-api" } |= " 404 "'
              stages:
              - static_labels:
                  level: "ERROR"
        - match:
              selector: '{ app="deltafi-api" } |= " 500 "'
              stages:
              - static_labels:
                  level: "ERROR"
        - match:
              selector: '{ app="deltafi-api" } |= " 503 "'
              stages:
              - static_labels:
                  level: "ERROR"
        # Squelch nasty graphite debug logs
        - match:
            selector: '{app="graphite"}'
            stages:
              # Filtering out graphite debug logs containing "(Tagging|Tagged)"
              - drop:
                  expression: "Tagg"
        # Clear out excessive post messages
        - match:
            selector: '{app="deltafi-egress-sink"}'
            stages:
              - drop:
                  expression: "POST / HTTP"
        # Clear out excessive probe messages
        - match:
            selector: '{app="kubernetes-dashboard"}'
            stages:
              - drop:
                  expression: "kube-probe"
              - drop:
                  expression: "/healthz"
loki:
  image:
    tag: 2.9.17
  persistence:
    enabled: true
    existingClaim: deltafi-loki
  nodeSelector:
    node-role.deltafi.org/storage: "true"
  extraArgs:
    log.level: warn
  config:
    compactor:
      retention_enabled: true
      retention_delete_delay: 10m
      compaction_interval: 10m
      retention_delete_worker_count: 150
    limits_config:
      retention_period: 744h
      retention_stream:
      - selector: '{level="DEBUG"}'
        priority: 1
        period: 24h
      - selector: '{container="deltafi-ingress",type="AUDIT"}'
        priority: 3
        period: 24h
      - selector: '{app="kubernetes-dashboard"}'
        priority: 6
        period: 96h
      - selector: '{app="grafana"}'
        priority: 7
        period: 168h
    query_scheduler:
      max_outstanding_requests_per_tenant: 500
  livenessProbe:
   initialDelaySeconds: 5
  readinessProbe:
   initialDelaySeconds: 5

# VictoriaMetrics Configuration
victoriametrics:
  server:
    fullnameOverride: deltafi-victoriametrics
    image:
      tag: v1.131.0
    retentionPeriod: "720d"
    extraArgs:
      envflag.enable: "true"
      envflag.prefix: VM_
      loggerFormat: json
      httpListenAddr: ":8428"
      graphiteListenAddr: ":2003"
      search.graphiteStorageStep: "10s"
    persistentVolume:
      enabled: true
      existingClaim: deltafi-victoriametrics
    service:
      type: ClusterIP
      servicePort: 8428
      extraPorts:
        - name: graphite
          port: 2003
          targetPort: 2003
          protocol: TCP
    resources:
      limits:
        cpu: 500m
        memory: 1024Mi
      requests:
        cpu: 200m
        memory: 512Mi
    nodeSelector:
      node-role.deltafi.org/storage: "true"

# Postgres Configuration
postgres:
  version: 16
  resources:
    requests:
     cpu:
     memory:
    limits:
     cpu:
     memory:
