.nodemonitor:
  needs: []
  variables:
    PROJECT_NAME: deltafi-nodemonitor

"Publish deltafi-nodemonitor to GitLab :whale:":
  extends:
    - .nodemonitor
    - .docker

"Publish deltafi-nodemonitor to docker.io :whale:":
  extends:
    - .nodemonitor
    - .docker-multiarch
