.menu {
  position: fixed;
  height: 100vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  .nav-link {
    font-weight: 500;
    color: #333;
  }
  .nav-link.folder {
    font-weight: 300;
    color: #999;
    cursor: pointer;
  }
  .nav-link.indent {
    padding-left: 40px;
  }
  .nav-link .fa-fw {
    margin-right: 0.25rem;
    color: #999;
  }
  .nav-link i.fa-external-link-alt {
    font-size: 0.8rem !important;
  }
  .nav-link.active {
    font-weight: 600;
    background-color: #e6e6e6;
  }
  .submenu {
    transition: all 0.2s ease;
    max-height: 4rem;
  }
  .submenu.hidden {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
  }
}