{{- if .Values.enable.minio -}}
# Deploy a node-fastdelete instance per node for minio content cleanup
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: deltafi-node-fastdelete
  namespace: deltafi
  labels:
    app: deltafi-node-fastdelete
    group: deltafi-core
spec:
  selector:
    matchLabels:
      app: deltafi-node-fastdelete
      group: deltafi-core
  template:
    metadata:
      labels:
        app: deltafi-node-fastdelete
        group: deltafi-core
    spec:
      terminationGracePeriodSeconds: 1
      imagePullSecrets:
      - name: docker-secret
      {{- include "initContainersWaitForDatabases" . | nindent 6 }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: deltafi-node-fastdelete
        image: {{ .Values.deltafi.nodemonitor.image }}
        command: ["/bin/bash", "-c", "/app/deleteit.sh"]
        env:
        {{- include "defaultEnvVars" . | nindent 8 }}
        {{- include "commonEnvVars" . | nindent 8 }}
        {{- include "postgresEnvVars" . | nindent 8 }}
        - name: FASTDELETE_WORKERS
          value: "{{ .Values.deltafi.fastdelete.workersPerNode | default 1 }}"
        resources:
          limits:
            memory: {{ mul (.Values.deltafi.fastdelete.workersPerNode | default 1) 200 }}Mi
        volumeMounts:
        - name: pvdata
          mountPath: /data
      volumes:
      - name: pvdata
        hostPath:
          path: /data
{{- end -}}