apiVersion: apps/v1
kind: Deployment
metadata:
  name: deltafi-core-scheduler
  labels:
    app: deltafi-core-scheduler
    group: deltafi-core
    role: api
spec:
  revisionHistoryLimit: 0
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: deltafi-core-scheduler
      group: deltafi-core
      role: api
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: deltafi-core
      labels:
        app: deltafi-core-scheduler
        group: deltafi-core
        role: api
    spec:
      {{- include "initContainersWaitForDatabases" . | nindent 6 }}
      containers:
      {{ if .Values.deltafi.auth.entityResolver.enabled }}
      {{- include "entityResolverContainer" . | nindent 6 }}
      {{ end }}
      - name: deltafi-core
        image: {{ .Values.deltafi.core.image }}
        env:
        - name: JDK_JAVA_OPTIONS
          value: "-Dcom.redhat.fips=false -Dlookup.enabled={{ .Values.deltafi.lookup.enabled }}"
        - name: UNIQUE_ID
          value: core-scheduler
        - name: SPRING_PROFILES_ACTIVE
          value: kubernetes,monitor
        - name: LOCAL_STORAGE_CONTENT
          value: {{ .Values.enable.minio | quote }}
        {{- include "coreEnvVars" . | nindent 8 }}
        ports:
        - containerPort: 8080
        {{- include "relaxedStartupProbe" . | nindent 8 }}
        {{- include "defaultReadinessProbe" . | nindent 8 }}
        {{- include "defaultLivenessProbe" . | nindent 8 }}
        volumeMounts:
        {{- include "coreVolumeMounts" . | nindent 8 }}
      volumes:
      {{- include "coreVolumes" . | nindent 6 }}
      imagePullSecrets:
      - name: docker-secret
      serviceAccountName: deltafi-core
      nodeSelector:
        node-role.deltafi.org/compute: "true"
