{
  "name": "{{.PluginName}}-data-source",
  "type": "REST_DATA_SOURCE",
  "description": "{{.PluginName}} REST data source",
  "topic": "{{.PluginName}}-data",
  "metadata": {
    "source": "{{.PluginName}}"
  }
}

