# Example variables for {{.PluginName}} flows
# Variables can be referenced in flow JSON files using ${variableName}
# 
# Format:
# name: variableName
# description: Description of the variable
# dataType: BOOLEAN | NUMBER | STRING
# required: true | false
# defaultValue: default value (as string)
---
# Example variable - uncomment and modify as needed
name: exampleVariable
description: Example variable for {{.PluginName}} flows
dataType: STRING
required: false
defaultValue: "example"

