[project]

name = "{{.PluginName}}"
version = "0.0.0"
description = "{{.Description}}"
authors = [{name = "DeltaFi", email = "deltafi@systolic.com"}]
readme = "README.md"
requires-python = ">=3.13,<3.14"

dependencies = [
  "deltafi=={{.DeltaFiVersion}}",
]

[project.optional-dependencies]

testing = [
  "mockito >= 1.5.4",
  "pytest >= 8.4.1",
  "pytest-pretty",
  "pytest-sugar",
]

[tool.pytest.ini_options]
testpaths = ["src/{{.PackageName}}/test"]
filterwarnings = [
  "error",
  "ignore:onerror argument:DeprecationWarning",
]

# Build system configuration
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

