.context-viewer-hover-menu {
  .button-padding {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .stacked-icons {
    width: 2.357rem;
    padding: 0.2rem 0;
  }
  .transparent-icon {
    background-color: transparent;
  }
}
