.trace-panel {
  .domain {
    display: none !important;
  }
  .chart {
    font: 0.3rem sans-serif;
    rect.normal-bar {
      fill: #b8daff;
    }
    rect.warning-bar {
      fill: #ffeeba;
    }
    rect.error-bar {
      fill: #f5c6cb;
    }
    text {
      fill: #333333;
    }
  }

  .d3-tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    margin-top: -20px;
    font: 1rem sans-serif;
    background: #333333;
    pointer-events: none;
    color: white;
    border-radius: 5px;
  }
  .gMainGraphArea {
    margin: 0;
    padding: 0;
  }
}
